/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}


body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    background: #333;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
}


img {
    max-width: 100%; /* DO NOT delete or change this line */
}

section {
    flex: 1 1 0;
}

.text {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.text h2 {
    text-align: left;
}

.photo {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


footer {
    text-align: center;
    padding: 1.5rem;
    background: #333;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/

#cougar {
    background: #b26219;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem; 
}

#lion {
    background: #ffd5ae;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    color: #000;
}

#tiger {
    background: #ffbd82;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    color: #000;
}

/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

/*--- I tried to find colors that would work for the darker 'cinnamon' background and the lighter peach and pale beach backgrounds!---*/

a {
    color: #3c1f07;
}

a:hover {
    color: #70411a;
}


header a {
    color: #f0ba89;
}

header a:hover {
    color: #ffe4cc;
}

